body {
    margin: 20px;
}

.table .pagination {
    margin: 0px !important;
}

.table .glyphicon:hover {
    color: #337ab7;
}

.table input.ng-invalid {
    border-color: #a94442;
    outline: 0;
}

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg); }
    to { transform: scale(1) rotate(360deg); }
}